body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  color: white;
}

h2 {
  font-family: 'Montserrat';
  font-size: 4rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

p {
  color: #8f8f8f;
}

a {
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.25rem;
}

.navbar-brand {
  margin-right: 200px;
}

.nav-link {
  font-family: 'Goldman', cursive;
  color: yellow;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 5% 6%;
}

.navbar {
  padding-bottom: 4.5rem;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Goldman';
  color: orange;
  font-size: 3.5rem;
  font-weight: bold;
}

.navbar-item {}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ef8172;
}

.title-image {
  transform: rotate(20deg);
  position: absolute;
  width: 25%;
  right: 20%;
}
#title-image {
  position: static;
  transform: rotate(0);
  width: 60%;
}



@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}


  /* Testimonial section */
  #testimonials-carousel {
    text-align: center;
    background-color: #ef8172;
  }

  .carousel-item {
    padding: 5% 15%;
  }

  .testimonials-carousel {
    width: 20%;
    border-radius: 100%;
    margin: 1rem;
  }

  .testimonials-carousel {
    width: 20%;
    border-radius: 100%;
    margin: 1rem;
  }
  .dog-img {
    width: 20%;
    border-radius: 100%;
    margin: 1rem;
  }

  #press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
  }

  .press-logo {
    width: 15%;
    margin: 20px 40px 0;
  }

  /* Pricing Section */
  #pricing {
    padding: 100px;
    text-align: center;
  }

  .pricing-colum {
    padding: 3% 2%;
  }

  /* CTA Section */
#cta {
  padding: 100px;
  text-align: center;
    background-color: #ef8172;
}
.download-button {
  margin: 5% 3% 5% 0;
}
#footer {
    text-align: center;
    background-color: #fff;
    font-style: normal;
}
